<section {{ if .Get "id" }}id="{{ .Get "id" }}"{{ end }} class="section" section-theme="{{ .Get "theme" | default "none" }}" watch>

  {{ if .Get "img" }}
  <picture class="section__asset">
    <img src="{{ .Get "img" }}" class="section__asset-img" height="1080" width="1920" alt=" " />
  </picture>
  {{ end }}

  <div class="wrapper" wrapper="{{ .Get "wrapper" | default "structure" }}">

    {{ if or ( .Get "heading1" ) ( .Get "copy" ) }}
    <div class="section__header">

      {{ if or ( .Get "heading1" ) ( .Get "heading2" ) }}
      <h2 class="section__heading">

        {{ if .Get "heading1" }}
          <span class="section__heading-line1">{{ .Get "heading1" }}</span>
        {{ end }}

        {{ if .Get "heading2" }}
          <span class="section__heading-line2">{{ .Get "heading2" }}</span>
        {{ end }}

      </h2>
      {{ end }}

      {{ if .Get "copy" }}
      <p class="section__copy">{{ .Get "copy" }}</p>
      {{ end }}

    </div>
    {{ end }}

    {{ .Inner }}

  </div>

</section>
